[Desktop Entry]
Name=amXa-WireGuard-Client
Comment=amXa-WireGuard-Client
Exec=lxqt-sudo amxa-wireguard-client
Terminal=false
Type=Application
Icon=wireguard.png
Categories=System;VPN;
Keywords=System;VPN
