Source: amxa-wireguard-client
Section: unknown
Priority: extra
Maintainer: Basil Stotz <stotz@amxa.ch>
Package: amxa-wireguard-client
Version: 1613836236 
Architecture: amd64
Depends: zenity
Description: Setup a Service Tunnel to Amxa
 Setup a Service Tunnel to Amxa
